<footer>

	<div class="container">
		<div class="row" style="margin-top: 100px; padding-top: 100px; padding-bottom: 100px;">
			<div class="col-md-3">
				<img src="{{ site.baseurl }}/images/snap_logo_wordmark_horizontal_white.svg" height="30" alt="">
				<p class="copyright mt-4">&copy; {{ site.time | date: '%Y' }} SNAP Lab</p>
			</div>  <!-- col -->
			<div class="col-md-3">
				<h1>Site</h1>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
					<li><a href="{{ site.baseurl }}/calendar.html">Calendar</a></li>
					<li><a href="{{ site.baseurl }}/people">People</a></li>
					<li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
				</ul>
			</div>  <!-- col -->
			<div class="col-md-3">
				<h1>Related Sites</h1>
				<ul class="list-unstyled">
					<li><a href="https://cmu.edu">cmu.edu</a></li>
					<li><a href="https://cs.cmu.edu">cs.cmu.edu</a></li>
					<li><a href="https://csd.cs.cmu.edu">csd.cs.cmu.edu</a></li>
				</ul>
			</div>  <!-- col -->
			<div class="col-md-3">
				<p class="connect">
					<a href="#"><i class="fab fa-github mr-2"></i></a>
					<a href="#"><i class="fab fa-twitter mr-2"></i></a>
					<a href="#"><i class="fab fa-facebook mr-2"></i></a>
					<a href="#"><i class="fab fa-google-plus mr-2"></i></a>
				</p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- container -->

	{% include footer_scripts.html %}

</footer>
