<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top px-4 py-2">
	<a class="navbar-brand" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/images/snap_logo_wordmark_horizontal.svg" height="30" alt="">
  	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerContent" aria-controls="navbarTogglerContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% include nav_buttons.html %}
</nav>
