---
layout: default
---
<div class="row mt-3">
	<div class="col-8 col-xs-12 col-md-10 col-lg-8 mx-auto">

		<article class="post h-entry mt-3" itemscope itemtype="http://schema.org/BlogPosting">

		  <header class="post-header">
			<div class="post-tags">
				{%- if page.categories -%}
				<span class="categories mr-2">
					{{ page.categories[0] }}{% for c in page.categories offset:1 %}/{{ c }}{% endfor %}
				</span>
				{%- endif -%}
				{%- if page.tags -%}
				<span class="tags">
					{% for t in page.tags %}<span class="badge badge-pill badge-primary mx-1">{{ t }}</span>{% endfor %}
				</span>
				{%- endif -%}
			</div>
			<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
			<p class="post-meta">
			  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				{{ page.date | date: date_format }}
			  </time>
			  {%- if page.author -%}
				• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
			  {%- endif -%}</p>
		  </header>

		  <div class="post-content e-content" itemprop="articleBody">
			{{ content }}
		  </div>

		  {%- if site.disqus.shortname -%}
			{%- include disqus_comments.html -%}
		  {%- endif -%}

		  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
		</article>

	</div>  <!-- col -->
</div>  <!-- row -->
